/* App.css */
body {
  font-family: "Arial, sans-serif";
  margin: 0;
  padding: 0;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  height: 100vh;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.chart-container {
  width: 100%;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-text {
  margin-left: 10px;
  font-size: 20px;
  color: #333;
}

.map-container {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}

.details-container {
  margin: 15px;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  overflow-x: auto;
  margin-top: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

@media (max-width: 600px) {

  th,
  td {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .map-container {
    height: 150px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .map-container {
    height: 250px;
  }
}


